html, body {
  width: 400px;
  background-color:#333;
  color: #fff;
  padding: 10px;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  
}

.hidden {
  display: none;
}
#error-content{
	color: red;
}
.button {
  margin: 5px auto;
  padding: 8px;
  text-align: center;
  font-size: 1em;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  width: 43%;
  display:inline-block;
  height:40px;
  vertical-align: middle;
  cursor: pointer;
  transition: all .5s;
  border: 1px solid;
  
}
#user_mesage{
	font-size: 14px;
	letter-spacing: 1.2px;
}
.button:hover {
  background-color: #000;
  color: #f7c641;
  border: 1px solid;
}


#start,#stop{
	
padding-top:25px ;
}

.redalert{
	border:2px solid red!important;
	color: #fff!important;
	padding: 10px;
}
